@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;1,100;1,500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    font-family: Roboto;
    box-sizing: border-box;
}
.container{
 height: 100vh;
 width: 100vw;

}
.navbar-container{
    height: 10%;
    display: flex;
    align-items: center;
}
.navbar-container div img{
    margin-top: 50px;
    margin-left: 150px;
}
.grow-list .list{
    display: flex;
    margin-left: 80px;
    margin-top: 39px;
}
.list-item{
    margin: 0px 25px;
}
.button-group{
    margin-left: 400px;
}

.banner-left{
    width: 40%; 
    margin-top: 160px;
    margin-left: 150px;
}
.heading-text{
    font-size: 50px;
    
    font-weight: 600;
}
.heading-text span{
    font-size: 52px;
    color: #3944F7;
}
.banner-left p{
    /* width: 300px; */
    margin-top: 30px;
}
.nav-button {
     margin-top: 70px;
     height: 50px;
     width: 190px;
     font-size: 15px;
     color: #ffffff;
     background-color: #3944F7 ;
     transition: 0.4s;
     border: none;
     border-radius: 20px;
}
.nav-button:hover{
   
    transform: scale(1.2);
    cursor: pointer;

}
.img{
    margin-left: 768px;
    margin-top: -500px;
}


@media  screen  and (min-width:200px) and (max-width:567px){
    body{
        background-color: aquamarine;
    }
    .navbar-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-container div img{
        margin-left: 94px;
    }
    .list{
       display: flex; 
       flex-direction: column;
       
        margin-left: 0px;
        margin: 10px auto;
    }
    .list-item{
        /* background-color: antiquewhite; */
        padding: 10px 20px;
        font-size: 30px;
        margin: 10px 0px;
    }
    .button-group {
       margin: -20px auto 20px;
    }
    .banner-left{
        width: 100%;
        margin-left: 2px;
        margin-top: 20px;
    }
    .heading-text{
       margin-left:12vw;
       margin: 10%;
    }
    .description{
       
        font-size: 22px;
        margin: 10px 40px 10px 12vw;
    }
    .img{
        display: none;
    }
    .banner-left button{
       margin: 10px 0px 20px 50px;
    }
}
@media  screen  and (min-width:567px) and (max-width:1280px){
     .navbar-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
     }
     .navbar-container div img{
        margin-left: 70px;
        margin-top: 40px ;
     }
     .grow-list{
        display: flex;
        align-items: center;
        justify-content: center;
       margin: 50px auto;
       margin-top: 5px;
     }
     .list-item{
        text-align: center;
        height: 25px ;
        width: 100px;
        background-color: #808080;
        padding: 5px 10px;
        margin: 0px 10px;
     }
     .list-item:hover{
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #000000; 
     }
     .button-group{
        margin: 0px auto;
     }
   
    .banner-left{
        height: auto;
        width: 100%;
        margin-left: 2px;
      margin: -60px auto 10px;
    }
    .heading-text{
        margin-left:12vw;
        margin: 10%;
     }
     .description{
         font-size: 22px;
       margin-left: 80px;
     }
     .banner-left .btn{
        margin-left: 100px;
     }
   .banner-container{
    display: flex;
    flex-direction: column-reverse;
   } 
   .banner-container .img{
    margin: 10px auto;
   }
   .banner-container .img img{
    width: 100%;
    padding: 10%;
   }


}